body {
  background-color: #f1f1f1;
  margin: 0;
  margin: 0;
  animation: animate 5s ease;
}
@keyframes animate {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.content_resumes {
  margin-top: 70px;
  width: 800px;
}
.resumes {
  display: flex;
}
nav {
  display: inline;
  background-color: #bd9047;
}
.navbar {
  background-color: #bd9047;
  display: flex;
  width: 100%;
}
.nav_resumes {
  margin-left: 600px;
  display: flex;
  gap: 30px;
  align-items: center;
}
#cap {
  margin-left: 480px;
  color: #444;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}
.nav h2 {
  margin-left: 10px;
  color: #2d3542;
  font-family: Poppins;
  font-size: 21px;
  font-weight: 400;
}
button {
  width: 50px;
  height: 50px;
}
img {
  height: 150px;
  width: 150px;
  border-radius: 90px;
  margin-left: 20px;
}
.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 15%;
  background: #2d3542;
  height: 100%;
  display: flex;
  padding: 50px 25px 40px 25px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  min-height: 941px;
}
.sidebar h2 {
  color: #bd9047;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
}
.sidebar li {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
}

.main-content {
  width: 70%;
  padding: 20px;
  height: 100%;
}
.main-content h1 {
  color: #bd9047;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  font-size: 30px;
}
.overview {
  color: #444;
  font-family: Poppins;
  font-weight: 300;
  font-size: 15px;
}
.block {
  color: #bd9047;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  font-size: 25px;
  margin-left: 30px;
}
.block span {
  color: #444;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
}
.block li {
  color: #444;
  font-family: Poppins;
  font-size: 9px;
  font-weight: 300;
}
.period {
  font-size: 10px;
  margin-left: 45px;
}

#li {
  margin-left: 145px;
}
footer {
  background-color: #bd9047;
  height: 120px;
  width: 100%;
}
.footer img {
  height: 40px;
  width: 40px;
  margin-top: 48px;
  margin-left: 45px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16em;
  height: 16em;
  transform: translate(-50%, -50%);
}

@media all and (max-width: 1039px) {
  footer {
    width: 1500px;
  }
  .sidebar {
    width: 25%;
    height: auto;
  }
  .period {
    font-size: 12px;
  }
  #li {
    margin-left: 165px;
    font-size: 22px;
    width: 800px;
    width: 900px;
  }
  #overview {
    font-size: 16px;
    width: 1024px;
  }
  span {
    font-size: 20px;
    margin-left: 10px;
  }
  .block {
    font-size: 30px;
  }
  .nav h2 {
    margin-left: 35px;
    font-size: 35px;
  }
  .nav li {
    margin-right: 35px;
    font-size: 20px;
  }
  .sidebar li {
    font-size: 15px;
  }
  .sidebar h2 {
    font-size: 24px;
    margin-top: 40px;
  }
  b {
    font-size: 25px;
  }
  .main-content {
    width: 1500px;
  }
  .main-content span {
    font-size: 17px;
  }
}
@media all and (max-width: 600px) {
  .nav {
    height: 160px;
  }
  footer {
    height: 160px;
    width: 1500px;
  }
  body {
    height: auto;
  }

  .sidebar {
    width: 1200px;
    height: auto;
  }
  .main-content {
    height: 1670px;
    width: 1000px;
    margin-left: 10px;
  }
  #cap {
    margin-right: 45px;
  }
  .period {
    font-size: 21px;
  }
  #overview {
    width: 1200px;
    height: 130px;
    font-size: 24px;
  }
  .block {
    font-size: 45px;
  }
  b {
    font-size: 25px;
  }
  .sidebar li {
    font-size: 18px;
  }
  .sidebar h2 {
    font-size: 24px;
    margin-top: 70px;
  }
  .sidebar img {
    width: 200px;
    height: 200px;
  }
  .nav h2 {
    margin-left: 50px;
    font-size: 45px;
  }
  .nav li {
    margin-right: 15px;
    font-size: 15px;
  }
  #li {
    margin-left: 150px;
    font-size: 24px;
  }
}
